/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/
.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.contenedor{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admon {
    display: flex;
}

.containerAdmon {
    border: 100px solid rgba(255, 250, 250, 0.366);
    background-color: rgba(185, 185, 187, 0.366);
    padding: auto;
    flex-direction: column;
    align-items: center;
    border-radius: 0px;

    /* box-shadow: 1px 1px 1px 1px lightblue */
}

.containerAdmonProyectos {
    border: 0px solid rgba(255, 250, 250, 0.366);
    
    width: 797px;
    height: 600px;
    padding: auto;
    flex-direction: column;
    align-items: center;
    border-radius: 0px;
}

.containerSpecialist {
    border: 100px solid rgba(255, 250, 250, 0.366);
    background-color: rgba(185, 185, 187, 0.366);
    width: 703px;
    height: 721px;
    padding: auto;
    flex-direction: column;
    align-items: center;
    border-radius: 0px;
    /* box-shadow: 1px 1px 1px 1px lightblue; */


}
.bg-primary {
    --ct-bg-opacity: 1;
    background-color: rgba(114, 124, 245, var(--ct-bg-opacity)) !important;
    text-emphasis-color: white;

}

.account-pages {
    /* background-color: rgb(237, 248, 249);
    border-radius: 50%; */
    margin-top: 00px;
    margin-bottom: 0px;
    margin-right: 400px;
    margin-left: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    width: 30%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}

.account-pagesloginadmon {
    margin-top: 00px;
    margin-bottom: 0px;
    margin-right: 400px;
    margin-left: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    width: 43%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);

}

.Administrador {
    width: 690px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

/* .account-pages1 {
    background-color: rgb(210, 246, 248);
    border-radius: 150px;

} */

.datos {
    width: 100%;
    /* justify-content: center; */

}

/* .botonVolver {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 50px;

} */

.buttonHome {
    background-color: #727cf5;
    color: #fff;


}

.buttonHome:hover {
    background-color: rgb(149, 114, 245);
    color: #fff;
}

.card-header:first-child {
    border-radius: calc(1.25rem - 1px) calc(1.25rem - 1px) 0 0;
}

*,
::after,
::before {
    box-sizing: border-box;
    border-radius: 5%;
}

RegistroAdministrador {
    width: 796px;
}

containerRegistro {

    border: 3px solid white;
    background-color: white;
    width: 800px;
    height: 780px;
    padding: auto;
    flex-direction: column;
    align-items: center;
    border-radius: 22px;
    box-shadow: 3px 3px 3px 3px lightblue
}

/* .col-md-6{
    margin: auto!important;
} */

form-label {
    margin-bottom: -1.5rem;
    padding: 10px;
}

.btn-secondary {
    background-color: #727cf5;
    /* background-color: #6c757d;
    border-color: #6c757d; */
}

.RegistroProyecto {
    width: 795px;
    height: 100px;

}

.bg-light {
    --bs-bg-opacity: 0;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}

.Navbarhome {
    background-color: #727cf5;
    color: #fff;

}

.nav-link{
    color:rgba(245, 245, 245, 0.849);
    margin-right: 20px
}

.nav-link:hover{
    color: rgb(78, 39, 185);
}

.navInicio{
    margin-left: 30px;
}

.flex-shrink-0 {
    box-shadow: 1px 1px 1px 1px lightblue;
    border-radius: 0%;

}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    /* content: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e); */
    transition: transform .35s ease;
    transform-origin: 0.5em 50%;
}

contenedor {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .m-auto {
    margin: auto!important;
} */

NombreRegAdmor {
    width: 98%;
}

/* .row {
    flex-shrink: 0;
    width: 80%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
} */

.form-control {
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-select {
    display: block;
    width: 84%;
    /* padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e);
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; */
}

.buttonsidebar{
    background-color: #727cf5;
}

.buttonsidebar1{
    background-color: #9078a786;
    border-color: #4f5491c3;
    color:#212529c1
}

.buttonsidebar1:hover{
 background-color:#6c75dfd4;
}

.buttonsidebar1:active{
    background-color:#515bc8f0;
    box-shadow: 1px, 1px, 2px #b8bcf1;
   }

   @media (max-width: 767px) {
    h1 {
      font-size: 2rem;
    }
  
    h2 {
      font-size: 1.5rem;
    }
  
    p {
      font-size: 1rem;
    }
  
    .text-center {
      text-align: center;
    }
  
   
    .buttonHome {
      font-size: 0.8rem;
    }
  
    GiEarthAmerica {
        font-size: 60px;
    }
  }